<?xml version="1.0" encoding="utf-8"?>

<nlog autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="./logs/internal-nlog.txt">

    <!-- ========================================================= -->
    <!-- Variablen -->
    <!-- ========================================================= -->
    <variable name="logDir" value="${basedir}/logs" />
    <variable name="logDate" value="${processid}" />

    <!-- ========================================================= -->
    <!-- Targets -->
    <!-- ========================================================= -->
    <targets>

        <!-- ===================================================== -->
        <!-- Datei-Log (vollständig, Debug-fähig) -->
        <!-- ===================================================== -->
        <target xsi:type="File"
                name="logFile"
                fileName="${logDir}/BauFahrplanMonitor_api_${logDate}.log"
                encoding="utf-8"
                keepFileOpen="false"
                createDirs="true"
                layout="${longdate}|${level:uppercase=true}|${scopeproperty:ImportFile}|${scopeproperty:Zugnr}|${scopeproperty:Verkehrstag}|${callsite:className=true:fileName=false}|${callsite-linenumber}|${message}${onexception:inner=|${exception:format=ToString}}" />

        <!-- ===================================================== -->
        <!-- Konsole (kompakt, lesbar) -->
        <!-- ===================================================== -->
        <target xsi:type="Console"
                name="console"
                layout="${longdate}|${level:uppercase=true}|${scopeproperty:ImportFile}|${scopeproperty:Zugnr}|${scopeproperty:Verkehrstag}|${logger}|${message}${onexception:inner=|${exception:format=Message}}" />

    </targets>

    <!-- ========================================================= -->
    <!-- Rules -->
    <!-- ========================================================= -->
    <rules>

        <!-- Core: Debug erlaubt -->
        <logger name="BauFahrplanMonitor.Core.*"
                minlevel="Info"
                writeTo="logFile" />

        <logger name="BauFahrplanMonitor.Core.*"
                minlevel="Info"
                writeTo="console" />

        <!-- Rest der App -->
        <logger name="*"
                minlevel="Info"
                writeTo="logFile" />

        <logger name="*"
                minlevel="Info"
                writeTo="console" />


    </rules>
</nlog>